* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  padding: 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  margin-left: auto;
  margin-right: auto;
  max-width: 580px;
  padding-left: 10px;
}

.intro-chunk p {
  max-width: 300px;
}

main {
  padding: 32px;
  background: hsl(0deg, 0%, 60%);
  border-top: 5px solid hsl(0deg, 0%, 40%);
}

.card {
  background: hsl(0deg, 0%, 100%);
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
  max-width: 580px;
  margin: auto;
  padding: 1px 10px;
}

.indented-heading {
  max-width: 450px;
  padding: 16px 32px;
  margin-bottom: 24px;
  margin-top: 10px;
  margin-left: -44px;
  text-align: center;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
}
